h1 Scheda di valutazione del signor: #{Valutato_NomeCognome}
h2 Anno #{moment(DataAvvioSchedaValutatore).format('YYYY')} - campagna: #{PeriodoCampagna}

table
    tr
        th Valutatore
        th Esito 
    tr
        td Manager
        td= MediaTop
    tr
        td Peers
        td= MediaPeer
    tr
        td Collaboratori
        td= MediaBottom
    
| 
| 
|---
| 
| 

h1 Pagina 2 !!